BETTER_AUTH_SECRET=Ngrgd5QSkbAkL1SClNEvqC13SwKN8pzT
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DATABASE_URL="postgresql://admin:admin@localhost:5432/better_auth"